:root {
    --primary-color: #2ecc71; /* Màu xanh lá cây - tượng trưng cho sức khỏe */
    --primary-hover: #27ae60;
    --secondary-color: #34495e; /* Màu xám đậm cho văn bản */
    --light-gray-bg: #f9f9f9;
    --white-color: #ffffff;
    --dark-text: #1c2833;
    --font--header: font-family: "Roboto", sans-serif;
    --font-weight--regular: 400;
    --font-weight--header: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: var(--secondary-color);
    line-height: 1.6;
}